#content
  .container
    .row
      .span9
        %h2= @news.title
        %h4= sanitize @news.description
        .thumb2
          .thumbnail.clearfix
            %figure.img-polaroid
              = image_tag @news.picture
            .caption
              = @news.body.html_safe

      .span3
        %h3 Topics
        %p
          Integer lacinia, velit sit amet bibendum hendrerit, neque justo ornare urna, non sodales nunc nibh vel purus. In urna. Sed sodales.
        %ul.ul1
          %li.nav1
            %a{href: "#"}
              Which program is
              %br>/
              right for you?
          %li.nav2
            %a{href: "#"}
              Prio Learning
              %br>/
              Assessment
          %li.nav3
            %a{href: "#"}
              Certificats and
              %br>/
              Teacher Education
          %li.nav4
            %a{href: "#"}
              How to get
              %br>/
              Started?
          %li.nav5
            %a{href: "#"}
              New Classroom
              %br>/
              Technology
          %li.nav6
            %a{href: "#"}
              Individual
              %br>/
              Courses
        %h3 Service List
        %ul.ul3
          %li
            %a{href: "#"} Lorem ipsum dolor
          %li
            %a{href: "#"} Sit amet consectetue
          %li
            %a{href: "#"} Adipiscing elit
          %li
            %a{href: "#"} Nunc suscipit
          %li
            %a{href: "#"} Suspendisse enim arcu
          %li
            %a{href: "#"} Convallis non cursus sed
          %li
            %a{href: "#"} Dignissim et est
          %li
            %a{href: "#"} Aenean semper aliquet libero
