#slider_wrapper
  #slider.clearfix
    #camera_wrap
      %div{"data-src" => "/images/slide01.jpg"}
        .camera_caption.fadeIn
          .txt1 We Offer
          .txt2
            Effective Models & Forms
            %br>/
            of Online Teaching & Training
      %div{"data-src" => "/images/slide02.jpg"}
        .camera_caption.fadeIn
          .txt1 We Offer
          .txt2
            Effective Models & Forms
            %br>/
            of Teaching & Training
      %div{"data-src" => "/images/slide03.jpg"}
        .camera_caption.fadeIn
          .txt1 We Offer
          .txt2
            Effective Models & Forms
            %br>/
            of Teaching & Training

