#slider3_wrapper
  .container
    .row
      .span12
        #slider3
          %a.prev3{href: "#"}
          %a.next3{href: "#"}
          .carousel-box.row
            .inner.span12
              .carousel.main
                %ul
                  %li
                    .thumb-carousel.banner1
                      .thumbnail.clearfix
                        %a{href: "#"}
                          %figure
                            %img{alt: "", src: "/images/banner1.png"}/
                          .caption
                            .txt1
                              Join
                              %br>/
                              Our University
                            .txt2 Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula.
                  %li
                    .thumb-carousel.banner2
                      .thumbnail.clearfix
                        %a{href: "#"}
                          %figure
                            %img{alt: "", src: "/images/banner2.png"}/
                          .caption
                            .txt1
                              international
                              %br>/
                              students
                            .txt2 Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula.
                  %li
                    .thumb-carousel.banner3
                      .thumbnail.clearfix
                        %a{href: "#"}
                          %figure
                            %img{alt: "", src: "/images/banner3.png"}/
                          .caption
                            .txt1
                              progressive
                              %br>/
                              programs
                            .txt2 Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula.
                  %li
                    .thumb-carousel.banner4
                      .thumbnail.clearfix
                        %a{href: "#"}
                          %figure
                            %img{alt: "", src: "/images/banner4.png"}/
                          .caption
                            .txt1
                              online
                              %br>/
                              education
                            .txt2 Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula.
                  %li
                    .thumb-carousel.banner5
                      .thumbnail.clearfix
                        %a{href: "#"}
                          %figure
                            %img{alt: "", src: "/images/banner5.png"}/
                          .caption
                            .txt1
                              information
                              %br>/
                              center
                            .txt2 Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula.
                  %li
                    .thumb-carousel.banner6
                      .thumbnail.clearfix
                        %a{href: "#"}
                          %figure
                            %img{alt: "", src: "/images/banner6.png"}/
                          .caption
                            .txt1
                              global
                              %br>/
                              learning
                            .txt2 Vestibulum vel pede at sapien sodales mattis. Quisque pretium, lacus nec iaculis vehicula.


