%footer
  .container
    .row
      .span12
        .footer_inner.clearfix
          .copyright
            Copyright  © 2013. All rights reserved.  
            %a{href: "#"} Privacy policy
          .social_wrapper
            %ul.social.clearfix
              %li
                %a{href: "#"}
                  %img{src: "/images/social_ic1.png"}/
              %li
                %a{href: "#"}
                  %img{src: "/images/social_ic2.png"}/
              %li
                %a{href: "#"}
                  %img{src: "/images/social_ic3.png"}/
              %li
                %a{href: "#"}
                  %img{src: "/images/social_ic4.png"}/
